@font-face {
    font-family: Oswald-VariableFont_wght;
    src: url(../font/Oswald-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Oswald-VariableFont_wght;
    text-align: center;
    font-size: 16px;
    color: #7581a1;
}
h1{
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}
ul{
    text-transform: uppercase;
}
a{
    text-decoration: none;
}
button{
    border-style: none;
}

h2{
    text-transform:unset;
}



.logo{
    display: inline;
}
.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    list-style-type: none;
    
}
.nav li{
    display: inline;
}

.now{
    color: #fff;
    background-color: #1085e4;
    font-weight: 700;
    font-size: 12px;
    border-radius: 30px;
    padding: 23px 42px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
 
.now:hover{
    background-color: #fff;
    color: #1085e4;
    border: 1px solid #1085e4;
}

.more{
    color: #7e8bae;
    font-size: 12px;
    font-weight: 700;
    background-color: #cbdbe8;
    border-radius: 30px;
    padding: 21px 42px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.more:hover{
    border: 1px solid #cbdbe8;
    background-color: #fff;
}

.btn_free{
    color: #fff;
    font-weight: 400;
    background-color: #1085e4;
    border-radius: 30px;
    padding: 23px 57px;
    letter-spacing: 0.7px;
}

.grid h2{
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}

.grid h2 span{
    font-size: 14px;
    color: #1085e4;
    display: block;
}
.grid-item{
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.page-header a+ul{
    color: #1085e4;
}

.sponsor li{
    display: inline;
}

.btn-group button+button{
    margin-left: 15px;
}

.btn-info{
    color: #8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 21px 42px;
    border-radius: 30px;
}

.btn-info:hover{
    background-color: #dce1e5;
}

.btn-info-active{
    color: #8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 21px 42px;
    border-radius: 30px;

}

